<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/Done/finish.css" media="screen">
    <title>FSC</title>
</head>
<body>
    <section class="error-body">
        
        <audio id="Au" loop autoplay>
            <source src="/css/Done/fsc.mp3" type="audio/mp3">
        </audio>
        <div class="message">
            <div class="bottom">
                <p>We Will Contact You</p>
                <a href="/login">return home</a>
            </div>
            <h1 ><img id="img" src="/css/Done/nothing.jpg" alt=""  >
                
            </h1>
            
        </div>
    </section>
    <script>
        var vid = document.getElementById("Au");
        vid.volume = 0.2;
    
    </script>
</body>
</html>
