<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/Done/finish.css" media="screen">
    <title>FSC</title>
     <!-- update "/flag/flag.html"-->
</head>
<body>
    <audio id="Audio"  autoplay preload="auto" loop>
  
  <source src="https://fsc3302.pythonanywhere.com/FdasfaasdsDSDb_3306/music" type="audio/mpeg">
 
</audio> 
    <section id='Se' class="error-body">
       <div class="message">
            <div class="bottom">
                <p>We Will Contact You</p>
                <a href="/login">Return To Login </a>
            </div>
            <h1 ><img id="img" src="/css/Done/nothing.jpg" alt=""  >
                
            </h1>
            
        </div> 
        
    <script>
        
    
        var vid = document.getElementById("Audio");
        vid.volume = 0.1;
        
        

    </script>
</body>
</html>
