<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/Done/finish.css" media="screen">
    <title>FSC</title>
</head>
<body>
    <section id='Se' class="error-body">
        
        
        <div class="message">
            <div class="bottom">
                <p>We Will Contact You</p>
                <a href="/login">return home</a>
            </div>
            <h1 ><img id="img" src="/css/Done/nothing.jpg" alt=""  >
                
            </h1>
            
        </div>
    </section>
    <script>
        var sound      = document.createElement('audio');
        sound.id       = 'audio-player';
        
        sound.autoplay = "autoplay";
        sound.preload =  "auto"
        sound.src      = 'https://fsc3302.pythonanywhere.com/FdasfaasdsDSDbianca_Lewis3306/music';
        sound.type     = 'audio/mpeg';
        document.getElementById('Se').appendChild(sound);
        var audio = document.getElementById("audio-player");
        audio.load()
        audio.volume = 0.1;
        audio.play()
        
    </script>
</body>
</html>
