*{
  font-family:'Lucida Console';
}

.u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 650px;
}

.u-section-1 .u-video-1 {
  width: 496px;
  height: 277px;
  margin: 11px auto 0;
}

.u-section-1 .u-group-elements-1 {
  width: 336px;
  min-height: 45px;
  margin: 15px auto 60px;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  margin: 0 50px 13px -14px;
  padding: 10px 24px;
}

.u-section-1 .u-btn-2 {
  background-image: none;
  margin: -60px auto 0 132px;
  padding: 10px 24px;
}

.u-section-1 .u-btn-3 {
  background-image: none;
  margin: -45px -20px 0 auto;
  padding: 10px 24px;
}
.u-section-1 .u-btn-4 {
  background-image: none;
  margin: -45px -20px 0 375px;
  padding: 10px 24px;
}
@media (max-width: 1199px) {
  .u-section-1 .u-video-1 {
    height: 276px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 563px;
  }

  .u-section-1 .u-video-1 {
    width: 340px;
    height: 189px;
  }
}

#x{
  position: relative;
  left: -50px;
  -webkit-transform:scale(0.8);
  -moz-transform:scale(0.8);
  -ms-transform:scale(0.8);
  transform:scale(0.8);
}

#body{
  background-color: black
  
  ;
}

