html{
    font-family: Sans-serif;
    background-color: black;
}

*{
  font-family:'Lucida Console';
}
section{
    position: absolute;
    left: 36%;
    top: 20%;
    color: gray;
    align-items: center;

}

h1{
  -webkit-transform:scale(1.5);
  -moz-transform:scale(1.5);
  -ms-transform:scale(1.5);
  transform:scale(1.5);
  color: gray;
  align-items: center;
}
