<!DOCTYPE html>
<html style="font-size: 16px;" lang="en"><head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <meta name="keywords" content="FSC">
    <meta name="description" content="">
    <title>FSC</title>
    
  <link rel="stylesheet" href="/css/FSC.css" media="screen">







  </head>
  <body data-home-page="FSC.html" data-home-page-title="FSC" class="u-body u-overlap u-xl-mode" data-lang="en"><header class="u-align-center u-border-2 u-border-black u-border-no-bottom u-border-no-left u-border-no-right u-clearfix u-header" id="sec-cc00" data-animation-name="" data-animation-duration="0" data-animation-delay="0" data-animation-direction=""><div class="u-clearfix u-sheet u-sheet-1">
    <h2 id='h1' class="u-custom-font u-font-arial u-text u-text-custom-color-1 "></h2>
    <div class="login-box">
      
      <h2>Login</h2>
      <form id="Login" action="return false" method='POST' name="form" redirect="true">
        <div class="user-box">
          <input id="usernaame" type="text" name="User" required="">
          <label>Username</label>
        </div>
        <div class="user-box">
          <input id='password' type="password" name="Pass" required="">
          <label>Password</label>
        </div>
        <a id="Submit" href="">
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          Submit
        </a>
      </form>
    </div>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script>
      $('#Submit').on('click', function(e){
        e.preventDefault();
        var f=document.getElementById('Login')
        f.action='/login/';
        f.submit()
       
      });
      var text ='The Beginning Is The End, And The End Is The Beginning. ';
      function x(index){


        if (index < text.length) {
            document.getElementById('h1').innerHTML +=text[index++] ;
            setTimeout(function () {
                  x(index)
            }, 50);

        }
      }
      x(0)
      </script>
</body></html>
