<!DOCTYPE html>
<html style="font-size: 16px;" lang="en"><head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <meta name="keywords" content="">
    <meta name="description" content="">
    <title>FSC</title>
    <link rel="stylesheet" href="/css/login.css" media="screen">
<link rel="stylesheet" href="/css/login-style.css" media="screen">
    <script class="u-script" type="text/javascript" src="/js/jquery.js" defer=""></script>
    <script class="u-script" type="text/javascript" src="/js/login.js" defer=""></script>
    
    <meta name="referrer" content="origin">
    <link id="u-theme-google-font" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i|Open+Sans:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i">
    <link id="u-page-google-font" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i|Source+Sans+Pro:200,200i,300,300i,400,400i,600,600i,700,700i,900,900i">
    <!-- update "/flag/flag.html"-->
    

    <meta name="theme-color" content="#478ac9">
    <meta property="og:title" content="Page 2">
    <meta property="og:description" content="">
    <meta property="og:type" content="website">
  </head>
  <body data-home-page="index.html" data-home-page-title="FSC" class="u-black u-body u-xl-mode" data-lang="en">
    <section class="u-align-center u-clearfix u-image u-shading u-section-1" id="sec-5fe9" data-image-width="3824" data-image-height="2105" data-animation-name="" data-animation-duration="0" data-animation-delay="0" data-animation-direction="">
      <div class="u-clearfix u-sheet u-valign-middle-lg u-valign-middle-md u-valign-middle-xs u-sheet-1">
        <div class="u-border-3 u-border-palette-1-base u-container-style u-grey-90 u-group u-opacity u-opacity-55 u-radius-10 u-shape-round u-group-1">
          <div class="u-container-layout u-valign-bottom-sm u-valign-bottom-xs u-container-layout-1">
            <h2 class="u-align-center u-custom-font u-font-lato u-text u-text-default u-text-1">Login</h2>
            <div class="u-expanded-width u-form u-form-1">
              <form  id="Login" action="return false" method='POST' name="form" redirect="true" class="u-clearfix u-form-spacing-19 u-form-vertical u-inner-form" style="padding: 35px;">
                <div class="u-form-group u-form-name u-label-none">
                  
                  <input type="text" placeholder="Username" id="name-6796" name="User" class="u-border-2 u-border-no-left u-border-no-right u-border-no-top u-border-white u-custom-font u-font-source-sans-pro u-input u-input-rectangle u-input-1" required="" wfd-id="id185" maxlength="30">
                </div>
                <div class="u-form-group u-label-none">
                  
                  <input type="text" placeholder="Password" id="email-6796" name="Pass" class="u-border-2 u-border-no-left u-border-no-right u-border-no-top u-border-white u-custom-font u-font-source-sans-pro u-input u-input-rectangle u-input-2" required="required" wfd-id="id186" maxlength="30">
                </div>
                <div class="u-align-left u-form-group u-form-submit u-label-none">
                  <a id="submit"class="u-active-grey-75 u-black u-btn u-btn-round u-btn-submit u-button-style u-hover-grey-90 u-radius-10 u-btn-1">Submit</a>
                  <input  type="submit"  value="submit" class="u-form-control-hidden" wfd-id="id187" style="border-radius: 10px;">
                </div>
                
              </form>
            </div>
          </div>
        </div>
      </div>
    </section>
     <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
   <script>
      $('#submit').on('click', function(e){
        e.preventDefault();
        var f=document.getElementById('Login')
        f.action='/login/';
        f.submit()
       
      });
      
      </script>
   
  
</body></html>
