<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/login-styles.css">
    <title>FSC-Login</title>
</head>
<body>
    <div class="container">
        <div id="cloudflare" style="z-index: 1000;"></div>
        <form id="Login" action="return false" method='POST' onsubmit="submitLogin(this);return false; name="form" redirect="true" class="login-form">
            <h1>Login</h1>
            <label for="username">Username:</label>
            <input type="text" id="username" name="User" required>
            <label for="password">Password:</label>
            <input type="password" id="password" name="Pass" required>
            
           
            <button id="submit-login"  type="submit">Login</button>
            
            <input type="hidden" name="cf-turnstile-response" id="captcha"  >
        </form>
    </div>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
   <script>
    
      var login=document.getElementById('Login')
       var loginSubmit=document.getElementById('submit-login')
      
      function loginForm(){
        
        login.action='/login/';
        
        login.submit()
        
       
      };
      
      function submitLogin(){
        loginSubmit.setAttribute("onclick","");
        login.setAttribute("onsubmit",'');
        
        $('#cloudflare').html("<script src='https://challenges.cloudflare.com/turnstile/v0/api.js?onload=onloadTurnstileCallback' defer><\/script><div id='example-container' class='#example-container' data-sitekey='0x4AAAAAAALlVPrBCGi_rKKF' data-callback='javascriptCallback'></div>");
        

      };
      

      window.onloadTurnstileCallback = function () {
        turnstile.render('#example-container', {
            sitekey: '0x4AAAAAAALlVPrBCGi_rKKF',
            
            callback: function(token) {
                var captcha=document.getElementById("captcha")
                captcha.value=`${token}`
                loginForm()
                
                
            },
        });
    };
      
               
        
      </script>

    
</body>
</html>
