 .u-section-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url("images/922113-0.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 632px;
}

.u-section-1 .u-group-1 {
  width: 378px;
  min-height: 332px;
  height: auto;
  background-image: none;
  margin: 163px 370px 60px auto;
}

.u-section-1 .u-container-layout-1 {
  padding: 0;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  font-size: 1.875rem;
  margin: 23px auto 0;
}

.u-section-1 .u-form-1 {
  height: 245px;
  margin-top: 20px;
  margin-bottom: -6px;
}

.u-section-1 .u-input-1 {
  font-size: 1.125rem;
}

.u-section-1 .u-input-2 {
  font-size: 1.125rem;
}

.u-section-1 .u-btn-1 {
  font-size: 1rem;
  text-shadow: 0px 0 0 rgba(0,0,0,0);
  text-transform: uppercase;
  box-shadow: 0px 0px 13px 0px darkgray;
  padding: 7px 22px 8px 21px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 555px;
  }

  .u-section-1 .u-group-1 {
    margin-top: 60px;
    margin-right: auto;
    height: auto;
  }

  .u-section-1 .u-btn-1 {
    padding-top: 6px;
    padding-right: 16px;
    padding-left: 16px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 425px;
  }

  .u-section-1 .u-group-1 {
    width: 311px;
    min-height: 308px;
    margin-top: 58px;
    margin-right: 192px;
    margin-bottom: 57px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: 20px;
  }

  .u-section-1 .u-form-1 {
    margin-top: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 437px;
  }

  .u-section-1 .u-group-1 {
    width: 244px;
    min-height: 242px;
    margin-top: 117px;
    margin-right: auto;
    margin-bottom: 60px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.25rem;
    margin-top: 0;
  }

  .u-section-1 .u-form-1 {
    height: 217px;
    margin-top: -22px;
    margin-bottom: 0;
  }

  .u-section-1 .u-input-1 {
    font-size: 0.625rem;
  }

  .u-section-1 .u-input-2 {
    font-size: 0.625rem;
  }

  .u-section-1 .u-btn-1 {
    font-size: 0.625rem;
    padding-right: 19px;
    padding-left: 18px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 100vh;
  }

  .u-section-1 .u-group-1 {
    width: 229px;
    min-height: 230px;
    margin-top: 60px;
  }

  .u-section-1 .u-form-1 {
    height: 218px;
    margin-top: -32px;
  }

  .u-section-1 .u-input-1 {
    font-size: 0.75rem;
  }

  .u-section-1 .u-input-2 {
    font-size: 0.75rem;
  }

  .u-section-1 .u-btn-1 {
    padding: 3px 14px 4px 13px;
  }
}
