<!DOCTYPE html>
<html style="font-size: 16px;" lang="en"><head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    
    <meta name="description" content="">
    <title>Add</title>
    <link rel="stylesheet" href="/css/admin/add/home-add.css" media="screen">
<link rel="stylesheet" href="/css/admin/add/add.css" media="screen">
    
    
    
    
    
    

    <meta name="theme-color" content="#478ac9">
    <meta property="og:title" content="Home">
    <meta property="og:type" content="website">
  </head>
  <body id='body' class="u-body u-overlap u-xl-mode" data-lang="en">
    <section class="u-clearfix u-image u-section-1" id="sec-1168" data-image-width="5000" data-image-height="3333">
      <div class="u-align-left u-clearfix u-sheet u-sheet-1">
        <div class="u-form u-form-1">
         
            <div  id="x"class="u-form-email u-form-group u-label-none u-form-group-1">
              <label for="user" class="u-label">User</label>
              <input type="text" id="user" name="user" class="u-border-1 u-border-grey-30 u-input u-input-rectangle u-radius-10 u-white u-input-1" required="" placeholder="Username:">
            </div>
            <div id="x" class="u-form-group u-form-name u-label-none u-form-group-2">
              <label for="pass" class="u-label">Name</label>
              <input type="text" placeholder="Password:" id="pass" name="pass" class="u-border-1 u-border-grey-30 u-input u-input-rectangle u-radius-10 u-white u-input-2" required="">
            </div>
            
            <div id="x" class="u-form-group u-label-none u-form-group-3">
              <label for="maintoken" class="u-label">Input</label>
              <input type="text" placeholder="token:" id="maintoken" name="maintoken" class="u-border-1 u-border-grey-30 u-input u-input-rectangle u-radius-10 u-white u-input-3">
            </div>
            <div id="x" class="u-form-group u-form-name u-label-none u-form-group-2">
              <label for="pass" class="u-label">Level</label>
              <input type="text" placeholder="Level:" id="level" name="pass" class="u-border-1 u-border-grey-30 u-input u-input-rectangle u-radius-10 u-white u-input-2" required="">
            </div>
            <div id="x" class="u-align-left u-form-group u-form-submit u-label-none u-form-group-4">
              
              <input id="x1" type="submit"  onclick="post()" value="Add"  class="u-border-none u-btn u-btn-round u-btn-submit u-button-style u-grey-75 u-radius-10 u-btn-1">
              
            </div>
            
          
        </div>
      </div>
    </section>
    <script>
      function post(path='/admin/', params, method='post') {

          
          const form = document.createElement('form');
          form.method = method;
          form.action = path;
          params= {w: 'add_user','token':'{{ token }}','user':document.getElementById('user').value ,'pass':document.getElementById('pass').value ,'maintoken':document.getElementById('maintoken').value ,'level':document.getElementById('level').value}
          for (const key in params) {
            if (params.hasOwnProperty(key)) {
              const hiddenField = document.createElement('input');
              hiddenField.type = 'hidden';
              hiddenField.name = key;
              hiddenField.value = params[key];

              form.appendChild(hiddenField);
            }
          }

          document.body.appendChild(form);
          form.submit();
          }
    </script>
    
    
    
    
  
</body></html>
